/* *{
  border: solid red 1px;
} */

html {
background-color: rgb(9, 31, 44);
color: rgb(147, 232, 211);
font-family: monospace;
font-size: 26px;
}

.body-container {
  padding: 0;
  margin: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

span {
  color: rgb(221, 185, 11)
}

.header-container {
  display: flex;
  justify-content: center;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.selection-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 0px;
  gap: 20px;
}

.player,
.computer,
.result {
  width: 80%
}

.result {
  color: rgb(221, 185, 11)
}

.button {
  /* border: solid lightgray 4px; */
  border: none;
  color: rgb(9, 31, 44);
  background-color: rgb(147, 232, 211);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 16px;
  font-family: monospace;
  font-weight: 700;
}